// Дополнительные общие стили
.bg-black {
  background-color: #000000;
}
.text-black {
  color: #000000;
}

.edao_title {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 35.5px;
}

.edao_description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}