.edao_fourth-screen__title {
  @media (min-width: 576px) { margin-bottom: 23px; }
  @media (min-width: 768px) { }
  @media (min-width: 992px) { margin-bottom: 50px; }
  @media (min-width: 1200px) { }
}

.edao_fourth-screen__description {
  @media (min-width: 576px) { margin-bottom: 23px; }
  @media (min-width: 768px) { }
  @media (min-width: 992px) { }
  @media (min-width: 1200px) { margin-bottom: 23px; }
}