@media (min-width: 576px) {
  .edao_fourth-screen__title {
    margin-bottom: 23px; } }

@media (min-width: 992px) {
  .edao_fourth-screen__title {
    margin-bottom: 50px; } }

@media (min-width: 576px) {
  .edao_fourth-screen__description {
    margin-bottom: 23px; } }

@media (min-width: 1200px) {
  .edao_fourth-screen__description {
    margin-bottom: 23px; } }
