.edao-step-block__vertical {
  width: 25px;
  height: 100%;
  margin-bottom: 51.5px; }
  .edao-step-block__vertical:first-child {
    margin-top: 51.5px; }
  .edao-step-block__vertical.left {
    margin-left: 51px; }

.edao-step-block__horizontal {
  width: 100%;
  height: 25px;
  margin-top: 67px;
  margin-bottom: 67px;
  margin-right: 51.5px; }
  .edao-step-block__horizontal:first-child {
    margin-left: 51.5px; }

.edao-step-block__number {
  background-repeat: no-repeat;
  background-size: 100%;
  display: block; }
  .edao-step-block__number.one {
    background-image: url(../../assets/img/1step.svg);
    width: 76px;
    height: 200px; }
  .edao-step-block__number.two {
    background-image: url(../../assets/img/2step.svg);
    width: 134px;
    height: 200px; }
    @media (min-width: 576px) {
      .edao-step-block__number.two {
        margin-right: -15px; } }
    @media (min-width: 768px) {
      .edao-step-block__number.two {
        margin-right: -25px; } }
    @media (min-width: 992px) {
      .edao-step-block__number.two {
        margin-right: -40px; } }
    @media (min-width: 1200px) {
      .edao-step-block__number.two {
        margin-right: -55px; } }
  .edao-step-block__number.three {
    background-image: url(../../assets/img/3step.svg);
    width: 124px;
    height: 200px; }
  .edao-step-block__number.four {
    background-image: url(../../assets/img/4step.svg);
    width: 145px;
    height: 200px; }
    @media (min-width: 576px) {
      .edao-step-block__number.four {
        margin-right: 47px; } }
    @media (min-width: 768px) {
      .edao-step-block__number.four {
        margin-right: 32px; } }
    @media (min-width: 992px) {
      .edao-step-block__number.four {
        margin-right: 24px; } }
    @media (min-width: 1200px) {
      .edao-step-block__number.four {
        margin-right: 8px; } }

.edao_corner {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 92px;
  height: 92px;
  display: block; }
  .edao_corner.black {
    background-image: url(../../assets/img/cornerBlack.svg); }
  .edao_corner.white {
    background-image: url(../../assets/img/cornerWhite.svg); }
  .edao_corner.top-left {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-left: 51px; }
  .edao_corner.bottom-left {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 51px; }
  .edao_corner.bottom-right {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
