.edao_third-screen__phone {
  background-image: url(../../assets/img/3-screen-phone.png);
  background-repeat: no-repeat;
  display: block;
  width: 178px;
  height: 357px;
  background-size: cover; }

.edao_third-screen__title {
  width: 100%; }
  @media (min-width: 576px) {
    .edao_third-screen__title {
      margin-bottom: 23px; } }
  @media (min-width: 768px) {
    .edao_third-screen__title {
      width: 400px; } }
  @media (min-width: 992px) {
    .edao_third-screen__title {
      width: 100%;
      margin-bottom: 50px; } }

.edao_third-screen__description {
  width: 100%; }
  @media (min-width: 576px) {
    .edao_third-screen__description {
      margin-bottom: 23px; } }
  @media (min-width: 768px) {
    .edao_third-screen__description {
      width: 420px; } }
  @media (min-width: 1200px) {
    .edao_third-screen__description {
      margin-bottom: 23px; } }

.edao_third-screen__undertitle-description {
  width: 100%; }
  @media (min-width: 576px) {
    .edao_third-screen__undertitle-description {
      margin-bottom: 23px; } }
  @media (min-width: 768px) {
    .edao_third-screen__undertitle-description {
      width: 500px; } }
  @media (min-width: 992px) {
    .edao_third-screen__undertitle-description {
      width: 100%;
      margin-bottom: 50px; } }
